 <%- include('head.ejs') %> 
<body>
 <%- include('entete.ejs') %>
 <h1>Accueil</h1>
 <section>
 <i class="fa fab fa-accusoft fa-5x"></i>
 <h1>Node.js - Express - mongoDB et EJS</h1> 
 </section>
 <p>Bienvenue a l'atelier Node.js</p>
 <%- include('footer.ejs') %>
</body>
</html>