 <%- include('head.ejs') %> 
<body>
 <%- include('entete.ejs') %>
 <h1>Accueil</h1>
 <section>
 <img id="logo" src="/img/logo.png">
 <h1>Node.js - Express - mongoDB et EJS</h1> 
 </section>

 <%- include('footer.ejs') %>
</body>
</html>